@model UserProfileDTO
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="row">
        <div class="col-md-12">
            
            <div class="card mb-6">
                <form asp-controller="User" asp-action="Profile" method="POST" enctype="multipart/form-data">
               
                <div class="card-body">
                    
                    <div class="d-flex align-items-start align-items-sm-center gap-6 pb-4 border-bottom">
                        <img src="~/images/@Model.Image.FileName" alt="user-avatar" class="d-block w-px-100 h-px-100 rounded" id="uploadedAvatar">
                        <div class="button-wrapper">
                            <label for="upload" class="btn btn-dark me-3 mb-4" tabindex="0">
                                <i class="icon-base bx bx-upload d-block d-sm-none"></i>
                                <input asp-for="Photo" type="file" accept="image/*" class="formaccount-file-input" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-4">
                   
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row gy-4 gx-3">
                            <div class="col-md-6 mb-3">
                                <label asp-for="FirstName" class="form-label">İsim</label>
                                <input asp-for="FirstName" class="form-control" type="text"  autofocus="">
                                <span asp-validation-for="FirstName"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="LastName" class="form-label">Soyisim</label>
                                <input asp-for="LastName" class="form-control" type="text" autofocus="">
                                <span asp-validation-for="LastName"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="Email" class="form-label">Email Adresi</label>
                                <input asp-for="Email" class="form-control" type="text" autofocus="">
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="PhoneNumber" class="form-label">Telefon Numarası</label>
                                <input asp-for="PhoneNumber" class="form-control" type="text" autofocus="">
                                <span asp-validation-for="PhoneNumber"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="CurrentPassword" class="form-label">Mevcut Parola</label>
                                <input asp-for="CurrentPassword" class="form-control" type="text" autofocus="">
                                <span asp-validation-for="CurrentPassword"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="NewPassword" class="form-label">Yeni Parola(Opsiyonel)</label>
                                <input asp-for="NewPassword" class="form-control" type="text" autofocus="">
                                <span asp-validation-for="NewPassword"></span>
                            </div>
                        </div>
                        <div class="mt-6">
                            <button type="submit" class="btn btn-dark me-3">Profili Güncelle</button>
                        </div>
                    </form>
                </div>
                <!-- /Account -->
            </div>
        </div>
    </div>
</div>